*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #d1d1d1;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.piano {
  display: flex;
}

.key {
  height: calc(var(--width) * 4);
  width: var(--width);
}

.white {
  --width: 120px;
  background-color: white;
  border: 1px solid rgb(180, 180, 180);
}

.white.active {
  background-color: rgb(169, 169, 169);
}

.black {
  --width: 70px;
  background-color: black;
  margin-left: calc(var(--width) / -2);
  margin-right: calc(var(--width) / -2);
  z-index: 2;
}

.black.active {
  background-color: rgb(109, 109, 109);
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  margin-bottom: 1rem;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(182, 182, 182);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #000000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #000000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.styled {
  position: relative;
  border: 0;
  width: 34px;
  height: 34px;
  font-size: 1rem;
  color: #fff;
  vertical-align: top;
  background-color: rgb(183, 183, 183);
}

.styled:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
              inset 2px 2px 3px rgba(0, 0, 0, .6);
}

h3 {
  margin-left: 1rem;
  margin-right: 3rem;
  font-weight: normal;
  display:inline;
  font-family: Arial, Helvetica;
  font-size: 1rem;
  color: #fff;
  vertical-align: -webkit-baseline-middle;
}